body {
    background-color: #222222;
    color: #eeeeee;
    font-family: Hind, Helvetica, sans-serif;
    width: 800px;
    margin: auto;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    color: #74bbd5;
    font-family: 'Source Code Pro', monospace;
}

a {
    color: #a5aad1;
    text-decoration: none;
}

a:hover {
    color: #818ce3;
}



header {
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #74bbd5;
}

nav {
    padding-bottom: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    background-color: #333333;
    text-align: center;
    width: 25%;
    float: left;
}

nav li:hover {
    background-color: #444444;
}


main h1 {
    font-size: 2em;
}

main h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #74bbd5;
}

section {
    margin-bottom: 100px;
}
